@import "/src/shared/styles/variables.import";

.area {
  grid-area: area-1;
  margin-bottom: -2px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: $steel__basic;
  text-shadow: $shadow__1TRBL-86;
  p {
    margin-bottom: 0;
    font-family: 'ZIVI__Bold';
  }
  p:first-of-type {
    font-size: 36px;
    letter-spacing: -1px;
  }
  p:last-of-type {
    font-size: 19px;
    line-height: 32px;
  }
}