    $s04: 4%;
    $s08: 8%;
    $s12: 12%;
    $s14: 14%;
    $s18: 18%;
    $s20: 20%;
    $s22: 22%;
    $s24: 24%;
    $s26: 26%;
    $s28: 28%;
    $s30: 30%;
    $s32: 32%;
    $s34: 34%;
    $s38: 38%;
    $s42: 42%;
    $s46: 46%;
    $s50: 50%;
    $s56: 56%; 
    $s60: 60%;
    $s62: 62%;
    $s70: 70%;
    $s80: 80%;
    $s82: 82%;
    $s90: 90%;
    $L04: 4%;
    $L18: 18%;
    $L30: 30%;
    $L32: 32%;
    $L36: 36%;
    $L38: 38%;
    $L42: 42%;
    $L46: 46%;
    $L48: 48%;
    $L50: 50%;
    $L58: 58%;
    $L60: 60%;
    $L62: 62%;
    $L66: 66%;
    $L72: 72%;
    $L74: 74%;
    $L76: 76%;
    $L80: 80%;
    $L82: 82%;
    $L84: 84%;
    $L86: 86%;
    $L88: 88%;
    $L90: 90%;
    $L92: 92%;
    $L94: 94%;
    $L96: 96%;
    $L97: 97%;
    $L98: 98%;
    $L100: 100%;
    $steel: 178;
    $steel__dark-dark: hsl($steel, $s14, $L32);
    $steel__dark-light: hsl($steel, $s04, $L46);
    $steel__basic: hsl($steel, $s08, $L60);
    $steel__light-dark: hsl($steel, $s12, $L76);
    $steel__light-light: hsl($steel, $s14, $L84);
    $steel__symbol: hsl($steel, $s32, $L46);
    $steel-8__80: hsl($steel, $s08, $L80);
    $steel-8__84: hsl($steel, $s08, $L84);
    $blue: 222;
    $blue__dark-dark: hsl($blue, $s50, $L30);
    $blue__dark-light: hsl($blue, $s12, $L50);
    $blue__basic: hsl($blue, $s20, $L66);
    $blue__light-dark: hsl($blue, $s26, $L80);
    $blue__light-light: hsl($blue, $s32, $L94);
    $green: 120;
    $green__dark-light: hsl($green, $s18, $L58);
    $green__dark-dark: hsl($green, $s42, $L36);
    $green__basic: hsl($green, $s24, $L76);
    $green__light-dark: hsl($green, $s38, $L86);
    $green__light-light: hsl($green, $s30, $L92);
    $brown: 28;
    $brown__dark-dark: hsl($brown, $s38, $L46);
    $brown__dark-light: hsl($brown, $s22, $L62);
    $brown__basic: hsl($brown, $s42, $L80);
    $brown__light-dark: hsl($brown, $s46, $L88);
    $brown__light-light: hsl($brown, $s34, $L96);
    $brown-56__58: hsl($brown, $s56, $L58);
    $brown-70__58: hsl($brown, $s70, $L58);
    $brown-80__96: hsl($brown, $s80, $L96);
    $brown-62__84: hsl($brown, $s62, $L84);
    $brown-80__94: hsl($brown, $s80, $L94);
    $red: 338;
    $red__dark-dark: hsl($red, $s46, $L30);
    $red__dark-light: hsl($red, $s22, $L48);
    $red__basic: hsl($red, $s20, $L60);
    $red__light-dark: hsl($red, $s28, $L82);
    $red__light-light: hsl($red, $s30, $L92);
    $chrome-50: hsl(0, 0%, $L50);
    $chrome-60: hsl(0, 0%, $L60);
    $chrome-66: hsl(0, 0%, $L66);
    $chrome-80: hsl(0, 0%, $L80);
    $chrome-86: hsl(0, 0%, $L86);
    $chrome-92: hsl(0, 0%, $L92);
    $chrome-94: hsl(0, 0%, $L94);
    $chrome-96: hsl(0, 0%, $L96);
    $shadow__1RB-86: 1px 1px $chrome-86;
    $shadow__1RT-86: 1px -1px $chrome-86;
    $shadow__1LB-86: -1px 1px $chrome-86;
    $shadow__1LT-86: -1px -1px $chrome-86;
    $shadow__1TRBL-86: $shadow__1RB-86, $shadow__1RT-86, $shadow__1LB-86, $shadow__1LT-86;
    $shadow__TRBL-4Blur-96: 0 0 4px $chrome-96;
    $shadow__modal: 4px 4px 12px;
    $back__body: hsl($steel, $s08, $L86);
    $gradient__logo: linear-gradient( to top, hsla($steel, $s04, $L46, .5), hsla($steel, $s14, $L84, .5));
    $gradient__basic: linear-gradient( to top, $back__body, $steel__basic );
    $gradient__basic--reverse: linear-gradient( to bottom, $back__body, $steel__basic );
    $gradient__legend: linear-gradient( to top, hsl($steel, $s08, $L90), hsl($steel, $s08, $L72));
    $gradient__legend--reverse: linear-gradient( to bottom, hsl($steel, $s08, $L90), hsl($steel, $s08, $L72) );
    $gradient__legend--error: linear-gradient( to top, hsl($red, $s20, $L90), hsl($red, $s20, $L72));
    $gradient__button: linear-gradient( to top, $chrome-80 0%, $chrome-94 50%, $chrome-80 100% );
    $gradient__button--hover: linear-gradient( to top, $chrome-80 0%, hsl($green, $s42, $L92) 50%, $chrome-80 100% );
    $gradient__button--active: linear-gradient( to top, hsl($green, $s42, $L92) 0%, $chrome-80 50%, hsl($green, $s42, $L92) 100% );
    $gradient__button--disabled: linear-gradient( to top, $chrome-86 0%, $chrome-92 50%, $chrome-86 100% );
    $text__body: hsl($steel, $s08, $L18);
    $back__content: hsl(0, 0%, $L94);
    $back__modal: hsla(0, 0%, $L18, 0.5);
    $text__field: hsl($steel, $s32, $L36);
    $text__field--edit: hsl(0, 0%, $L04);
    $text__field--disabled: hsl(0, 0%, $L72);
    $back__field: hsl(0, 0%, $L97);
    $back__field--edit: hsl(0, 0%, $L100);
    $back__field--disabled: hsl(0, 0%, $L94);
    $back__field--onload: lightgray;
    $link__dark: hsl($blue, $s70, $L60);
    $link__dark--hover: hsl($blue, $s70, $L50);
    $link__dark--border: hsl($blue, $s70, $L72);
    $border__field: hsl(0, 0%, $L76);
    $border__field--edit: hsl(0, 0%, $L66);
    $border__field--disabled: hsl(0, 0%, $L84);
    $border__button: hsl($green, $s42, $L60);
    $border__button--hover: hsl($green, $s42, $L50);
    $border__button--disabled: hsl(0, 0%, $L80);
    $text__button--disabled: hsl(0, 0%, $L76);
    $error__back: hsl($red, $s46, $L94);
    $error__text: hsl($red, $s46, $L62);
    $error__text--2: hsl($red, $s80, $L48);
    $invalid__text: red;
    $invalid__control: hsl($red, $s50, $L86);
    $success__back: hsl($green, $s46, $L96);
    $success__back--94: hsl($green, $s46, $L94);
    $success__back--96: hsl($green, $s46, $L96);
    $success__text: hsl($green, $s90, $L38);
    $choice__back: hsl($green, $s34, $L88);
    $choice__text: hsl($green, $s60, $L42);
    $under-cursor__back: hsl($blue, $s24, $L88);
    $mark__menu-1: hsl($steel, $s04, $L50);
    $mark__menu-1--hover: hsl($steel, $s12, $L84);
    $mark__menu-2: hsl($steel, $s04, $L66);
    $mark__menu-2--hover: hsl($steel, $s12, $L80);
    $mark__help-back: hsl($blue, $s50, $L72);
    $mark__help-back--hover: hsl($blue, $s50, $L66);
    $mark__help-text: $chrome-94;
    $shadow__dropdown: 2px 2px 4px $chrome-50, -1px -1px 4px $chrome-66;
    $tooltip__back: hsl($brown, $s90, $L96);
    $attn__text: hsl($brown, $s80, $L48);
    $attn__back: hsl($brown, $s60, $L92);
    $option__back--focused: rgb(222, 235, 255);
    $option__back--selected: rgb(191, 217, 255);
    $select__back--light: white;
    $select__color--disabled: gray;
    $attn__text--2: hsl($brown, $s82, $L58);
    $border__button-attn: hsl($brown, $s46, $L74);
    $gradient__button-attn: linear-gradient(to top, $brown-62__84 0%, $chrome-94 50%, $brown-62__84 100%);
    $border__button-attn--hover: hsl($brown, $s46, $L66);
    $gradient__button-attn--hover: linear-gradient(to top, $brown-62__84 0%, $brown-80__94 50%, $brown-62__84 100%);
    $gradient__button-attn--active: linear-gradient( to top, $brown-80__94 0%, $brown-62__84 50%, $brown-80__94 100%);
    $steel-8__90: hsl($steel, $s08, $L90);
    $steel-8__76: hsl($steel, $s08, $L76);
    $steel-8__82: hsl($steel, $s08, $L82);
    $steel-8__88: hsl($steel, $s08, $L88);
    $green-46__96: hsl($green, $s46, $L96);
    $green-46__92: hsl($green, $s46, $L92);
    $logo__back: hsla($steel, $s08, $L50);
    $mark__nested__closed: hsl($steel, $s08, $L72);
    $mark__nested__opened: hsl($steel, $s22, $L62);
    $mark__nested__hover: hsl($steel, $s28, $L72);

    :export {
      steelLightLight: $steel__light-light;
      backModal: $back__modal;
      successBack96: $success__back--96;
      errorBack: $error__back;
      errorText: $error__text;
      backField: $back__field;
      backFieldOnload: $back__field--onload;
      invalidControl: $invalid__control;
      borderField: $border__field;
      borderFieldEdit: $border__field--edit;
      textField: $text__field;
      optionBackFocused: $option__back--focused;
      optionBackSelected: $option__back--selected;
      selectBackLight: $select__back--light;
      selectColorDisabled: $select__color--disabled;
      shadowModal: $shadow__modal;
      ymaps__stroke: hsl(214, 100%, 49%);
      ymaps__fill: hsla(240, 69%, 54%, 0.5);
    }

