@font-face {
	font-family: 'ZIVI__Regular';
	src: url('./ibm_plex_sans_5.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ZIVI__Italic';
	src: url('./ibm_plex_sans_5i.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ZIVI__Bold';
	src: url('./ibm_plex_sans_7.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ZIVI__Bold-Italic';
	src: url('./ibm_plex_sans_7i.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'ZIVI__Thin';
	src: url('./ibm_plex_sans_3.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ZIVI__Thin-Italic';
	src: url('./ibm_plex_sans_3i.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}