@import "/src/shared/styles/variables.import";

.area {
  grid-area: area-2;
  background-repeat: no-repeat;
  background-size: cover;
  &.login {
    width: 26px;
    height: 26px;
    background-image: url(./logo_transparent.svg);
    background-color: $logo__back;
  }
  &.guest {
    width: 72px;
    height: 72px;
    border-radius: 2px;
    background-image: url(./logo_transparent.svg);
    background-color: $logo__back;
  }
}